.container {
    max-width: 1600px;
    margin: 0 auto;
}
.benefits {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.benefits-item {
    flex-shrink: 1;
    background-color: white;

}
.benefits-number {
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}

.benefits-title {
    font-weight: 600;
    font-size: 24px;
    margin: 50px 0 14px 0;
}

.benefits-description {
    font-size: 18px;
    color: #4C4C4D;
}