
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.header-main {
    border-bottom: 1px solid #cccccc;
    background: #c6f6f6;
    font-size: 1rem;
    height: 50px;
}

.header-main--content {
    position: relative;
    width: 600px;
    margin: auto;
}

/*.header-main--logo {*/
/*    position: relative;*/
/*}*/
.header-main--content img {
    border-radius: 5px;
    position: absolute;
    top: 2px;
    bottom: 0;
    /*margin: auto;*/
}

.menu-main {
    position: absolute;
    right: 0;
    top: 10px;
}

.menu-main > ul li {
    list-style: none;
    display: inline-block;
    color: black;
}

.menu-main > ul li > a {
    text-decoration: none;
    padding: 10px;
    color: black;
}
