* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333333;
}

.header__logo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.header__menu {
    list-style: none;
}

.header__menu-item {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 120px;
    background-color: #bcb4a1;
}

.header__menu-link {
    display: block;
    text-decoration: none;
}

.header__bar {
    position: relative;
    width: 800px;
    height: 50px;
    margin: auto;
    background-color: #c6f6f6;
}

.header__menu {
    position: absolute;
    right: 0;
    top: 11px;
}