.best-seller {
    display: flex;
    gap: 10px;
}

.best-seller_ads {
    display: flex;
    flex-direction: column;
}

.best-seller_ads img {
    border-radius: 10px;
}

.bast-seller__gallery_products {
    display: flex;
}

.product-item__image {
    /*width: 100%;*/
}

.product-item__image img {
    width: 100%;
}