* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.group {
    /*width: 700px;*/
    display: flex;
    background-color: #c6f6f6;
    border: 10px solid #870301;
    flex-direction: row;
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: space-around;*/
    justify-content: space-evenly;
    height: 800px;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    background-color: green;
    width: 100px;
    height: 120px;
    color: black;
    font-size: 32px;
    border: 10px solid #ffdd00;
}