
.header
  height: 64px
  display: flex
  align-items: center
  justify-content: space-between


  .left
    display: flex
    align-items: center
    gap: 8px

    .submit
      color: white
      border: 1px solid white
