* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bar img {
    border-radius: 5px;
}

.header-bar .header-bar--content {
    max-width: 600px;



























































































}